.contenar
{
    display: flex;
    height: 200px;
    width: 100%;
    padding: 0%;
    border: 2px solid black;
    justify-content: left;
    align-items:left;
   /* flex-direction: row;*/
    flex-wrap: wrap;
}
.item
{
    height: 100px;
    width: 100px;
    background-color: rgb(18, 192, 41);
    padding: 2px;
    margin: 5px;
    border: 1px solid red;
    margin: 5px;
}
.jafar
{
align-self: center;
    
}
.jafar2
{
    align-self: flex-end;
}

