     .main
        {
            height: 100px;
            width: 100%;
           /* padding: 0;*/
           /* background-color:black;*/
            display: flex;
            border:solid black ;
            background-color: aquamarine;

        }
        .box1
        {
            height: 50px;
            width: 50px;
            border: solid black;
            margin: 2px;
            background-color: blue;

        }