*{
padding: 0;
margin: 0;
}
header{
    height: 12vh;
    background: black;
    border: 2px solid red;
}
nav ul li{
    list-style: none;
    padding: 10px;
} 
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
} 
nav ul{
    display: flex;
    justify-content: flex-start;

}  

footer{
    height: 12vh;
    background-color: black;
    color: white;
    border: 2px solid blue;
}